-- Allowed student emails for @mymail.nyp.edu.sg sign-in
CREATE TABLE IF NOT EXISTS allowed_student_emails (
  email TEXT PRIMARY KEY,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);


-- Total allowed student emails: 24
